<h1>Hello Helix Bram</h1>
<br />
<a href="/demo/hello">Hello Page 1</a><br />
<%= link_to('Hello from Index Page 2', { :action => 'hello'}) %><br />
<%= link_to('Hello with parameters', {:action => 'hello', :page => 5, :id => 2}) %>